.titulo{
    font-size:50px;
    color: pink;
    padding: 10px;
}

.contenedor{
   
    margin: 0 auto;
   
    left: 0;
    top:0;
    text-align: center;
}

.cuadrito{
    margin-top: 15px;

}
h1{
    text-align: center;
}